# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependencies
/node_modules

#Config
/config.js
/minio.js

#Docker
/docker-compose.yml
/postgres

#Package-lock
/package-lock.json
